/* fonts
============================= */
@import 'https://fonts.googleapis.com/css?family=Ubuntu';


/* ================================================
==                Gem Spritesheet                ==
================================================ */

.gem-header {
    height: 25px;
    width: 25px;
}

    .gem-lightless {
        background: url(./img/gemstones.png) 0 0;
        background-size: 1800% 100%;
    }

        .status-gem-lightless {
            background: url(./img/gemstones.png) 0 0;
            background-size: 1800% 100%;
        }

    .gem-crimson {
        background: url(./img/gemstones.png) -25px 0;
        background-size: 1800% 100%;
    }

        .status-gem-crimson {
            background: url(./img/gemstones.png) -50px 0;
            background-size: 1800% 100%;
        }

    .gem-ember {
        background: url(./img/gemstones.png) -50px 0;
        background-size: 1800% 100%;
    }

        .status-gem-ember {
            background: url(./img/gemstones.png) -100px 0;
            background-size: 1800% 100%;
        }

    .gem-sol {
        background: url(./img/gemstones.png) -75px 0;
        background-size: 1800% 100%;
    }

        .status-gem-sol {
            background: url(./img/gemstones.png) -150px 0;
            background-size: 1800% 100%;
        }

    .gem-jade {
        background: url(./img/gemstones.png) -100px 0;
        background-size: 1800% 100%;
    }

        .status-gem-jade {
            background: url(./img/gemstones.png) -200px 0;
            background-size: 1800% 100%;
        }

    .gem-cerulean {
        background: url(./img/gemstones.png) -125px 0;
        background-size: 1800% 100%;
    }

        .status-gem-cerulean {
            background: url(./img/gemstones.png) -250px 0;
            background-size: 1800% 100%;
        }

    .gem-violet {
        background: url(./img/gemstones.png) -150px 0;
        background-size: 1800% 100%;
    }

        .status-gem-violet {
            background: url(./img/gemstones.png) -300px 0;
            background-size: 1800% 100%;
        }

    .gem-prismatic {
        background: url(./img/gemstones.png) -175px 0;
        background-size: 1800% 100%;
    }

        .status-gem-prismatic {
            background: url(./img/gemstones.png) -350px 0;
            background-size: 1800% 100%;
        }

    .gem-ethereal {
        background: url(./img/gemstones.png) -200px 0;
        background-size: 1800% 100%;
    }

        .status-gem-ethereal {
            background: url(./img/gemstones.png) -400px 0;
            background-size: 1800% 100%;
        }

    .gem-eternal {
        background: url(./img/gemstones.png) -225px 0;
        background-size: 1800% 100%;
    }

        .status-gem-eternal {
            background: url(./img/gemstones.png) -450px 0;
            background-size: 1800% 100%;
        }

    .gem-dark {
        background: url(./img/gemstones.png) -275px 0;
        background-size: 1800% 100%;
    }

    .gem-light {
        background: url(./img/gemstones.png) -300px 0;
        background-size: 1800% 100%;
    }

    .gem-bright {
        background: url(./img/gemstones.png) -325px 0;
        background-size: 1800% 100%;
    }

/*                  Selection Gems
======================================================== */

.gem-selection {
    height: 50px;
    width: 50px;
}

.gem-selection.gem-empty {
    background: url(./img/gemstones.png) -700px 0;
    background-size: 1800% 100%;
}

    .gem-selection.gem-empty:hover {
        background: url(./img/gemstones.png) -500px 0;
        background-size: 1800% 100%;
    }

    .gem-selection.gem-selected.gem-empty {
        background: url(./img/gemstones.png) -500px 0;
        background-size: 1800% 100%;
    }

.gem-selection.gem-dark {
    background: url(./img/gemstones.png) -750px 0;
    background-size: 1800% 100%;
}

    .gem-selection.gem-dark:hover {
        background: url(./img/gemstones.png) -550px 0;
        background-size: 1800% 100%;
    }

    .gem-selection.gem-selected.gem-dark {
        background: url(./img/gemstones.png) -550px 0;
        background-size: 1800% 100%;
    }

.gem-selection.gem-light {
    background: url(./img/gemstones.png) -8000px 0;
    background-size: 1800% 100%;
}

    .gem-selection.gem-light:hover {
        background: url(./img/gemstones.png) -600px 0;
        background-size: 1800% 100%;
    }

    .gem-selection.gem-selected.gem-light {
        background: url(./img/gemstones.png) -600px 0;
        background-size: 1800% 100%;
    }

.gem-selection.gem-bright {
    background: url(./img/gemstones.png) -850px 0;
    background-size: 1800% 100%;
}

    .gem-selection.gem-bright:hover {
        background: url(./img/gemstones.png) -650px 0;
        background-size: 1800% 100%;
    }

    .gem-selection.gem-selected.gem-bright {
        background: url(./img/gemstones.png) -650px 0;
        background-size: 1800% 100%;
    }

/* ================================================
==                   Header                      ==
================================================ */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 3rem 0 0.2rem 0;
}

h3 {
    margin-bottom: 5px;
}

    .header-container {
        width: 800px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        border: 2px solid black;
    }

/* ======================================== */
.header-status-container {
    display: inline-block;
    text-align: center;
}

    .header-status-gems {
        width: 480px;
        display: inline-flex;
        flex-wrap: wrap;
        border: 1px solid black;
        background: hsl(0, 80%, 90%);
    }

        .gem-div {
            display: flex;
            width: 138px;
            padding: 10px;
            border: 1px solid black;
        }
            .gem-div > span {
                margin-top: auto;
            }

            .gem-div span:first-of-type {
                margin-left: 5px;
            }

            .gem-div span:last-of-type {
                margin-left: auto;
            }

.conversion-container {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 20px;
}

    .conversion-gems-div {
        border: 1px solid black;
        background: hsl(0, 80%, 90%);
    }

.loading-div {
    text-align: center;
    vertical-align: middle;
    height: 200px;
}

    .loading-span {
        position: relative;
        top: 50%;
        font-size: 1.5rem;
    }

.tier-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 5px 20px 5px;
}

    .tier-container > h3 {
        width: 100%;
    }

    .tier-div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid black;
        width: 655px;
        padding: 2px 5px;
        background: hsl(0, 80%, 90%);
    }

    .tier-div > div {
        margin: 6px 10px;
    }

/* ================================================
==              Personal Display                 ==
================================================ */

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    width: 1000px;
    border: 2px solid black;
    background: hsl(120, 30%, 50%);
    border-radius: 20px;
}

.personal-display {
    display: flex;
    height: 140px;
    width: 800px;
    border: 2px solid black;
    margin: 5px 0;
    background: hsl(140, 100%, 90%);
    border-radius: 10px;
}

    .personal-display:last-of-type {
        margin-bottom: 30px;
    }

/* ======================================== */
.perf-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 50%;
}

    .perf-header {
        height: 40%;
    }

    .perf-selection {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 40%;
        width: 100%;
        margin-bottom: 20px;
    }

        .perf-confirmation {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: center;
            height: 50px;
            width: 130px;
            animation-name: fade-in;
            animation-duration: 0.75s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            position: absolute;
            left: 160px;
            z-index: 1;
            border: 1px solid black;
            border-radius: 7px;
            padding: 10px;
            background: hsl(180, 48%, 67%);
        }

            .display-none {
                display: none;
            }

            .perf-msg {
                height: 30px;
                width: 130px;
            }

            .perf-accept {
                height: 20px;
                width: 55px;
                margin-right: 10px;
                border: 1px solid black;
                border-radius: 3px;
                text-align: center;
            }

            .perf-decline {
                height: 20px;
                width: 55px;
                border: 1px solid black;
                border-radius: 3px;
                text-align: center;
            }

.gem-selection {
    margin: 0 2.5px;
}

/* ======================================== */
.status-container {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 50%;
    vertical-align: top;
}

    .status-header {
        margin-left: 100px;
        height: 40%;
    }

    .status-body {
        display: flex;
        margin-left: 85px;
        margin-bottom: 30px;
        height: 40%;
    }

        .status-gem-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 86px;
            height: 72px;
            border: 1px solid black;
        }

            .status-gem {
                height: 50px;
                width: 50px;
                background-size: 1800% 100%;
            }

        .status-devotion-container {
            display: flex;
            flex-direction: column;
            height: 72px;
            width: 150px;
            border: 1px solid black;
        }

            .devotion-div {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                width: 142px;
                border: 1px solid black;
                margin: 3px;
            }

/* ================================================
==                New Person Form                ==
================================================ */

.new-person-container {
    display: flex;
    justify-content: center;
    width: 760px;
    border: 2px solid black;
    margin: 20px 5px 10px 5px;
    padding: 10px 20px;
    background: hsl(140, 70%, 70%);
    border-radius: 5px;
}

    .new-person-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 35px;
    }

        .input-name {
            width: 60%;
            height: 100%;
            font-size: 1.2rem;
            padding-left: 8px;
            margin-right: 20px;
            background: hsl(140, 70%, 90%);
            /*-webkit-appearance: none;*/
        }

        .input-points {
            width: 20%;
            height: 100%;
            font-size: 1.2rem;
            padding-left: 8px;
            margin-right: 10px;
            background: hsl(140, 70%, 90%);
            /*-webkit-appearance: none;*/
        }

        .input-button {
            width: 15%;
            height: 31px;
            font-size: 1rem;
            -webkit-appearance: none;
        }

            .input-button:enabled {
                background: hsl(140, 50%, 45%);
                color: hsl(0, 0%, 100%);
            }

            .input-button:disabled {
                background: hsl(140, 50%, 60%);
                color: hsl(0, 0%, 90%);
            }

/* ================================================
==                 Animations                    ==
================================================ */

.remove {
    display: none;
}

.hide {
    opacity: 0;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {opacity: 0;}
    to   {opacity: 1;}
}

@keyframes fade-out {
    from {opacity: 1;}
    to   {opacity: 0;}
}

.select-empty {
    /* gem-empty doesn't animate on selection */
}

    .select-empty-confirm {
        position: relative;
        animation-name: select-empty-confirm;
        animation-duration: 0.75s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    @keyframes select-empty-confirm {
        0%   {right: 0px; opacity: 1;}
        99%  {right: 50px; opacity: 0;}
        100% {right: 0px; opacity: 0;}
    }

    .select-empty-decline {
        animation-name: select-empty-decline;
        animation-fill-mode: forwards;
    }

    @keyframes select-empty-decline {
        0%    {opacity: 0;}
        100%  {opacity: 0;}
    }

.select-dark {
    position: relative;
    animation-name: select-dark;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes select-dark {
    0%   {right: 0px;}
    100% {right: 55px;}
}

    .select-dark-confirm {
        position: relative;
        animation-name: select-dark-confirm;
        animation-duration: 0.75s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    @keyframes select-dark-confirm {
        0%   {right: 55px; opacity: 1;}
        99%  {right: 105px; opacity: 0;}
        100% {right: 0px; opacity: 0;}
    }

    .select-dark-decline {
        position: relative;
        animation-name: select-dark-decline;
        animation-duration: 0.75s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes select-dark-decline {
        0%   {right: 55px; opacity: 0;}
        100%  {right: 0px; opacity: 0;}
    }

.select-light {
    position: relative;
    animation-name: select-light;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes select-light {
    0%   {right: 0px;}
    100% {right: 110px;}
}

    .select-light-confirm {
        position: relative;
        animation-name: select-light-confirm;
        animation-duration: 0.75s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    @keyframes select-light-confirm {
        0%   {right: 110px; opacity: 1;}
        99%  {right: 160px; opacity: 0;}
        100% {right: 0px; opacity: 0;}
    }

    .select-light-decline {
        position: relative;
        animation-name: select-light-decline;
        animation-duration: 0.75s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes select-light-decline {
        0%   {right: 110px; opacity: 0;}
        100%  {right: 0px; opacity: 0;}
    }

.select-bright {
    position: relative;
    animation-name: select-bright;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes select-bright {
    0%   {right: 0px;}
    100% {right: 165px;}
}

    .select-bright-confirm {
        position: relative;
        animation-name: select-bright-confirm;
        animation-duration: 0.75s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    @keyframes select-bright-confirm {
        0%   {right: 165px; opacity: 1;}
        99%  {right: 215px; opacity: 0;}
        100% {right: 0px; opacity: 0;}
    }

    .select-bright-decline {
        position: relative;
        animation-name: select-bright-decline;
        animation-duration: 0.75s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes select-bright-decline {
        0%   {right: 165px; opacity: 0;}
        100%  {right: 0px; opacity: 0;}
    }

/*            Points Boosters
================================= */

.point-booster {
    position: absolute;
    height: 26.5px;
    width: 26.5px;
    left: -85px;
    bottom: 20px;
    opacity: 0;
}

.plus-zero, .plus-one, .plus-two, .plus-three {
    animation: booster 1.5s ease-in;
}

@keyframes booster {
    0%   {
        left: -85px;
        bottom: 20px;
        opacity: 0;
        height: 26.5px;
        width: 26.5px;
    }

    25%  {
        left: -80px;
        bottom: 24px;
        opacity: 1;
    }

    50%  {
        left: -76px;
        bottom: 29px;
        opacity: 1;
    }

    75%  {
        left: -73px;
        bottom: 37px;
        opacity: 0.4;
    }

    100% {
        left: -70px;
        bottom: 45px;
        opacity: 0;
        height: 53px;
        width: 53px;
    }
}

/* ================================================
==                    Page Styles                ==
================================================ */

body {
    background: hsl(180, 100%, 80%);
    background: linear-gradient(hsl(180, 100%, 80%), hsl(180, 100%, 90%));
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


/*            Colors
================================= */

body {
    background: hsl(222, 56%, 43%);
    background: linear-gradient(hsl(222, 56%, 43%), hsl(222, 52%, 63%));
}

h1 {
    color: hsl(40, 100%, 67%);
    font-size: 2rem;
    font-style: bold;
}

h2 {
    color: hsl(254, 72%, 34%);
    font-size: 1.6rem;
    font-style: bold;
}

h3 {
    color: hsl(180, 57%, 73%);
    font-size: 1.3rem;
    font-style: bold;
}

.header {
    /*background: ;*/
}

.header-container {
    background: hsl(180, 90%, 27%);
}

.header-status-gems {
    background: hsl(180, 48%, 57%);
}

.conversion-gems-div {
    background: hsl(180, 48%, 57%);
}

.tier-div {
    background: hsl(180, 48%, 57%);
}

.app-container {
    background: hsl(254, 47%, 53%);
}

.new-person-container {
    background: hsl(254, 55%, 44%);
}

input {
    border-color: hsl(0,0%, 20%);
    border-radius: 5px;
}

.input-name {
    background: hsl(254, 61%, 77%);
    color: hsl(254, 72%, 34%);
}

.input-points {
    background: hsl(254, 61%, 77%);
    color: hsl(254, 72%, 34%);
}

.input-button {
    border-color: hsl(0,0%, 80%);
}

    .input-button:enabled {
        background: hsl(254, 72%, 30%);
        color: hsl(0, 0%, 100%);
    }

    .input-button:disabled {
        background: hsl(254, 55%, 50%);
        color: hsl(0, 0%, 60%);
    }

.personal-dispay {
    background: hsl(255, 54%, 64%);
}

    .personal-display h3 {
        color: hsl(180, 90%, 27%);
    }

/*          Placeholders
================================= */
/* Note: Bug with firefox number placeholder text: https://hg.mozilla.org/mozilla-central/rev/d539c846b609 */

    input:focus::-webkit-input-placeholder { color:transparent; } /* Chrome */
    input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    ::-webkit-input-placeholder { /* Chrome */
      color: hsla(255, 54%, 64%, 0.8);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: hsla(255, 54%, 64%, 0.8);
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: hsla(255, 54%, 64%, 0.8);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: hsla(255, 54%, 64%, 0.8);
    }

    input[type=number] {
        -moz-appearance: textfield;
    }








